/*  -------------------   Navigation ----------------------  */
.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;

  & li {
    display: inline-block;
    margin-left: 40px;
    & a:link,
    & a:visited {
      padding: 8px 0;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 80%;
      word-spacing: 3px;
      border-bottom: 2px solid transparent;
      -webkit-transition: border-bottom 0.2s;
      transition: border-bottom 0.2s;
    }
    & a:hover {
      color: #ddd;
      cursor: pointer;
    }

    & a:hover,
    & a:active {
      border-bottom: 2px solid $color-orange-primary;
    }
  }
}

/* Mobile Navi */

.mobile-nav-icon {
  float: right;
  margin-top: 20px;
  cursor: pointer;
  display: none;
  & i {
    font-size: 200%;
    color: $color-white;
  }
}

/* Sticky navi */

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  -webkit-box-shadow: 0 2px 2px #efefef;
  box-shadow: 0 2px 2px #efefef;
  z-index: 1000;
  & .main-nav {
    margin-top: 22px;
    & li a:link,
    & li a:visited {
      padding: 16px 0;
      color: $color-grey;
    }
  }

  & .logo {
    display: none;
  }
  & .logo-black {
    display: block;
  }
}
