/*---------  Back to Top -----------*/

#back2Top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  bottom: 50px;
  right: 0;
  background-color: #ddd;
  color: $color-grey;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  &:hover {
    background-color: #ddf;
    color: $color-black;
  }
}
