/* ---------------------------------------------- */
/* Basic Setup */
/* ---------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  /* font-size: 10px; */
  /* 1rem = 10px */
  font-size: 20px; }

.clearfix {
  zoom: 1; }
  .clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden; }

/* ---------------------------------------------- */
/* Reusable Component */
/* ---------------------------------------------- */
.row {
  max-width: 1140px;
  margin: 0 auto; }

section {
  padding: 80px 0; }

.box {
  padding: 1%; }
  .box img {
    width: 100%;
    height: auto;
    margin-bottom: 10px; }
  .box iframe {
    width: 100%;
    height: 340px;
    margin-bottom: 15px; }

/* ---------------------------------------------- */
/* Typography */
/* ---------------------------------------------- */
html,
body {
  background-color: #fff;
  color: #050505;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden; }

/* Paragraphs */
.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%; }

.box p {
  font-size: 80%;
  line-height: 145%; }

/* ---------------------------------------------- */
/* Lincs */
/* ---------------------------------------------- */
a:link, a:visited {
  color: #7ed56f;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #7ed56f;
  transition: border-bottom 0.2s, color 0.2s; }

a:hover, a:active {
  color: #555;
  border-bottom: 1px solid transparent; }

/* ---------------------------------------------- */
/* Icons */
/* ---------------------------------------------- */
.icon-big {
  font-size: 300%;
  display: block;
  color: #7ed56f;
  margin-bottom: 10px; }

.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #7ed56f;
  /*    color: $color-black;*/
  font-size: 115%;
  margin-right: 10px;
  /* secret to align text and icon */
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px; }

/* ---------------------------------------------- */
/* Headings */
/* ---------------------------------------------- */
h1 h2,
h3 {
  font-weight: 400;
  text-transform: uppercase; }

h1 {
  color: #fff;
  font-size: 240%;
  word-spacing: 3px;
  margin-bottom: 20px;
  letter-spacing: 1px;
  line-height: 135%; }

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
  line-height: 135%; }
  h2:after {
    display: block;
    height: 2px;
    background-color: #7ed56f;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 20px; }

h3 {
  font-size: 90%;
  margin-bottom: 15px;
  line-height: 135%; }

/*   animation  */
@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* ------- end ----------------  */
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* ---------------------------------------------- */
/* Animation */
/* ---------------------------------------------- */
/*
  .js--wp-1,
  .js--wp-2,
  js--wp-3 {
      opacity: 0;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
  }
  
  
  .js--wp-1.animated,
  .js--wp-2.animated,
  .js--wp-3.animated {
      opacity: 1;
  }  */
.js--wp-1,
.js--wp-4,
.js--wp-5,
.js--wp-6 {
  opacity: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s; }

.js--wp-1.animated,
.js--wp-4.animated,
.js--wp-5.animated,
.js--wp-6.animated {
  opacity: 1; }

/**
     * Simple fade transition for magnific popup
     */
.mfp-fade.mfp-bg {
  opacity: 0;
  transition: all 0.15s ease-out; }

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8; }

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0; }

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transition: all 0.15s ease-out; }

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1; }

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0; }

body {
  -webkit-overflow-scrolling: touch; }

body.mfp-active {
  overflow: hidden;
  -webkit-overflow-scrolling: auto;
  width: 100%;
  position: fixed;
  overflow: auto; }

body .mfp-wrap {
  position: fixed;
  overflow: auto;
  top: 0 !important; }

/* ---------------------------------------------- */
/* Header */
/* ---------------------------------------------- */
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/mcts.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .header-text {
    position: absolute;
    width: 80vw;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    text-align: center; }

.header-primary {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  .header-primary-main {
    display: block;
    font-size: 110%;
    font-weight: 700;
    -webkit-animation: moveInLeft 1s ease-out;
    animation: moveInLeft 1s ease-out; }
  .header-primary-sub {
    display: block;
    font-size: 70%;
    font-weight: 700;
    -webkit-animation: moveInRight 1s ease-out;
    animation: moveInRight 1s ease-out; }

.hero-text-box {
  position: absolute;
  width: 65%;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

#school-name {
  margin-top: 20px;
  margin-bottom: 0; }

.logo {
  height: 100px;
  width: auto;
  border-radius: 50%;
  float: left;
  margin-top: 20px; }
  .logo-black {
    display: none;
    height: 50px;
    width: auto;
    border-radius: 50%;
    float: left;
    margin: 5px 0; }

/*  -------------------   Navigation ----------------------  */
.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px; }
  .main-nav li {
    display: inline-block;
    margin-left: 40px; }
    .main-nav li a:link,
    .main-nav li a:visited {
      padding: 8px 0;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 80%;
      word-spacing: 3px;
      border-bottom: 2px solid transparent;
      transition: border-bottom 0.2s; }
    .main-nav li a:hover {
      color: #ddd;
      cursor: pointer; }
    .main-nav li a:hover,
    .main-nav li a:active {
      border-bottom: 2px solid #7ed56f; }

/* Mobile Navi */
.mobile-nav-icon {
  float: right;
  margin-top: 20px;
  cursor: pointer;
  display: none; }
  .mobile-nav-icon i {
    font-size: 200%;
    color: #fff; }

/* Sticky navi */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 2px #efefef;
  z-index: 1000; }
  .sticky .main-nav {
    margin-top: 22px; }
    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited {
      padding: 16px 0;
      color: #555; }
  .sticky .logo {
    display: none; }
  .sticky .logo-black {
    display: block; }

/* ---------------------------------------------- */
/* Buttons */
/* ---------------------------------------------- */
.btn:link, .btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  /*    transition: background-color 0.2s, border 0.2s, color 0.2s;*/
  transition: all 0.2s;
  position: relative; }

.btn:active, .btn:hover {
  background-color: #28b485; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn-animated {
  -webkit-animation: moveInBottom 0.5s ease-out 0.75s;
  animation: moveInBottom 0.5s ease-out 0.75s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

input[type="submit"] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  /*    transition: background-color 0.2s, border 0.2s, color 0.2s;*/
  transition: all 0.2s;
  position: relative;
  background-color: #7ed56f;
  border: 1px solid #7ed56f;
  color: #fff;
  margin-right: 15px; }
  input[type="submit"]:hover {
    background-color: #28b485;
    border: 1px solid #28b485;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  input[type="submit"]:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn-full:link, .btn-full:visited {
  background-color: #7ed56f;
  border: 1px solid #7ed56f;
  color: #fff;
  margin-right: 15px; }

.btn-full:active, .btn-full:hover {
  border: 1px solid #28b485; }

.btn-full::after {
  background-color: #7ed56f; }

.btn-ghost:link, .btn-ghost:visited {
  border: 1px solid #7ed56f;
  color: #7ed56f; }

.btn-ghost:active, .btn-ghost:hover {
  border: 1px solid #28b485;
  color: #fff; }

/* ---------------------------------------------- */
/* Form */
/* ---------------------------------------------- */
.contact-form {
  width: 60%;
  margin: 0 auto; }

textarea {
  height: 100px; }
  textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc; }

input[type="text"],
input[type="email"],
select {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc; }

#lang {
  padding: 0px;
  font-size: 80%; }

input[type="checkbox"] {
  margin: 10px 5px 10px 0; }

*:focus {
  outline: none; }

/**
   *  Notice
   */
.white-popup {
  position: relative;
  background: #fff;
  padding: 10px;
  width: auto;
  max-width: 90%;
  margin: 20px auto;
  /*  text-align: center;*/
  border: 2px solid #dbdbdb;
  border-radius: 5px; }

input[type="date"] {
  padding: 3px;
  border-radius: 3px;
  border: 1px solid #ccc; }

.search-center {
  text-align: center; }

.notice {
  /*  border-bottom: 3px solid #e4e4e4;*/
  border-bottom: 3px solid tranparent;
  padding: 10px 35px; }
  .notice p {
    line-height: 140%; }
  .notice h3:after {
    display: block;
    height: 2px;
    background-color: #e4e4e4;
    content: "";
    width: 150px;
    margin: 0 auto;
    margin-top: 10px; }

.popup-scroll {
  /* Overflow Scroll */
  overflow-y: scroll;
  max-height: 450px; }

.addNoticeComponent {
  display: none; }

/*---------  Back to Top -----------*/
#back2Top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  transform: rotate(270deg);
  position: fixed;
  bottom: 50px;
  right: 0;
  background-color: #ddd;
  color: #555;
  text-align: center;
  font-size: 30px;
  text-decoration: none; }
  #back2Top:hover {
    background-color: #ddf;
    color: #000; }

/* ---------------------------------------------- */
/* Feature */
/* ---------------------------------------------- */
.section-features .long-copy {
  margin-bottom: 30px; }

.section-features cite {
  font-size: 50%; }
  .section-features cite a:link,
  .section-features cite a:visited {
    text-decoration: none;
    color: #555;
    border-bottom: 1px solid transparent; }
  .section-features cite a:hover,
  .section-features cite a:active {
    text-decoration: none;
    color: #555;
    border-bottom: 1px solid #cf6d17; }

/* ---------------------------------------------- */
/* Message */
/* ---------------------------------------------- */
.section-message {
  background-color: #f4f4f4; }

.principle-img-1 {
  float: left;
  padding: 0 20px 20px 0; }

.principle-img-2 {
  float: right;
  padding: 0 0 20px 40px; }

figcaption {
  font-size: 80%; }

.principle-message {
  text-align: justify; }

.principle-message::first-letter {
  font-size: 200%;
  color: #7ed56f; }

/* ---------------------------------------------- */
/* Location */
/* ---------------------------------------------- */
.section-location .box {
  padding: 0; }

.address-feature {
  margin-bottom: 5px; }

.map {
  width: 100%;
  height: 470px;
  /*    border: 1px solid #a0a0a0;*/ }

/* ---------------------------------------------- */
/* Gallery */
/* ---------------------------------------------- */
.section-gallery {
  padding: 0; }
  .section-gallery .gallery-showcase:last-child li {
    margin-bottom: 0; }

.gallery-showcase {
  list-style: none;
  width: 100%; }
  .gallery-showcase li {
    display: block;
    float: left;
    width: 24%;
    margin-left: 5px;
    margin-bottom: 5px; }

.gallery-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
  cursor: pointer; }
  .gallery-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s; }
  .gallery-photo img:hover {
    opacity: 1;
    transform: scale(1.03); }

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; }

.item {
  flex-basis: 25%;
  padding: 3px; }

/* ---------------------------------------------- */
/* Testimonial */
/* ---------------------------------------------- */
.section-testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/gt-background.jpg);
  background-size: cover;
  color: #fff;
  background-attachment: fixed; }
  .section-testimonials cite {
    font-size: 90%;
    margin-top: 25px;
    display: block; }
    .section-testimonials cite img {
      height: 45px;
      border-radius: 50%;
      margin-right: 10px;
      vertical-align: middle; }

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px; }
  blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -3px; }

/* ---------------------------------------------- */
/* Plans */
/* ---------------------------------------------- */
.section-plan {
  background-color: #f4f4f4; }

.plan-box {
  background-color: #fff;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
  box-shadow: 0 2px 2px #efefef; }
  .plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8; }
    .plan-box div:last-child {
      text-align: center;
      border: 0; }
    .plan-box div:nth-child(2) {
      font-size: 75%;
      line-height: 140%; }
  .plan-box ul {
    list-style: none; }
    .plan-box ul li {
      padding: 5px 0; }

.plan-price-admission {
  font-size: 80%;
  margin-bottom: 10px;
  color: #7ed56f; }

.plan-price-monthly {
  font-size: 80%;
  color: #7ed56f; }

/* ---------------------------------------------- */
/* Footer */
/* ---------------------------------------------- */
footer {
  background-color: #333;
  padding: 50px;
  font-size: 80%; }

.footer-nav {
  list-style: none;
  /*    float: left;*/
  text-align: left; }
  .footer-nav li {
    display: inline-block;
    margin-right: 30px; }
    .footer-nav li:last-child {
      margin-right: 0; }
    .footer-nav li a:link,
    .footer-nav li a:visited {
      color: #888;
      text-decoration: none;
      border: 0;
      transition: color 0.2s; }
    .footer-nav li a:hover {
      color: #ddd;
      cursor: pointer; }

.social-links {
  list-style: none;
  /*    float: right;*/
  text-align: right; }
  .social-links li {
    display: inline-block;
    margin-right: 30px; }
    .social-links li:last-child {
      margin-right: 0; }
    .social-links li a:link,
    .social-links li a:visited {
      color: #888;
      text-decoration: none;
      border: 0;
      transition: color 0.2s; }
    .social-links li a:hover {
      color: #ddd;
      cursor: pointer; }
    .social-links li a:link,
    .social-links li a:visited {
      font-size: 170%; }

.ion-social-facebook,
.ion-social-twitter,
.ion-social-youtube,
.ion-social-instagram {
  transition: color 0.2s; }

.ion-social-facebook:hover {
  color: #3b5998; }

.ion-social-twitter:hover {
  color: #55acee; }

.ion-social-youtube:hover {
  color: #ff0000; }

.ion-social-instagram:hover {
  color: #e95950; }

footer p {
  color: #888;
  text-align: center;
  margin-top: 30px;
  word-spacing: 2px; }

/* ---------------------------------------------- */
/* Opinion Form */
/* ---------------------------------------------- */
.section-book {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }

.book {
  background-image: linear-gradient(105deg, transparent 50%, #fff 50%, #fff 0%), url(../../resources/img/gallery-9.jpg);
  background-size: 120%;
  background-repeat: no-repeat;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  height: 50rem; }
