/* Big tab to 1200 px (width smaller than 1140px )*/
@media only screen and (max-width: 1200px) {
  .hero-text-box {
    width: 100%;
    padding: 0 2%;
    top: 60%;
  }

  .header-text {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .row {
    padding: 0 2%;
  }
 
 
}

/* portrait mode small to big tab from 768 to 1023 px */
@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }
  .header {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 0.7)),
        to(rgba(0, 0, 0, 0.7))
      ),
      url(img/mcts-1.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(img/mcts-1.jpg);
  }
  section {
    padding: 60px 0;
  }

  .main-nav {
    margin-top: 50px;
  }

  .main-nav li {
    margin-left: 10px;
  }

  .main-nav li a:link,
  .main-nav li a:visited {
   
    font-size: 74%;
    
  }

  .long-copy {
    width: 80%;
    margin-left: 10%;
  }
  .box img {
    width: 90%;
    height: auto;
  }

  .icon-small {
    width: 17px;
    margin-right: 5px;
  }
  .address-feature {
    font-size: 90%;
  }

  .plan-box {
    width: 100%;
    margin-left: 0%;
  }

  .plan-box h3 {
    font-size: 100%;
  }
  .contact-form {
    width: 80%;
  }

  .search-center a {
    margin-top: 5px;
    vertical-align: middle;
  }
  .section-chamber .absolute-img {
    width: 80px;
    height: 80px;
    top: 48px;
    left: 30%;
  }
  
}

/* small phones to small tablets from 601 to 767 px*/
@media only screen and (max-width: 767px) {
 
  .item {
    flex-basis: 32%;
  }

  body {
    font-size: 16px;
  }

  section {
    padding: 30px 0;
  }

  .row {
    padding: 0 4%;
  }

  .hero-text-box {
    padding: 0 1.5%;
  }

  .col {
    width: 100%;
    margin: 0 0 4% 0;
  }

  .principle-img-2 {
    float: left;
    padding: 0 0 20px 0;
  }

  .main-nav {
    display: none;
  }

  .mobile-nav-icon {
    display: inline-block;
  }

  .mobile-nav-icon i {
    color: #fff;
  }

  .main-nav {
    float: left;
    margin-top: 20px;
    margin-left: 25px;
  }

  .main-nav li a:link,
  .main-nav li a:visited {
    display: block;
    border: 0;
    padding: 10px 0;
    font-size: 100%;
    color: #555;
  }

  .main-nav li a:active,
  .main-nav li a:hover {
    color: #e67e22;
  }

  #lang {
    margin: 8px 0;
  }

  .main-nav li {
    display: block;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: rgba(255, 255, 255, 0.98);
    -webkit-box-shadow: 0 2px 2px #efefef;
    box-shadow: 0 2px 2px #efefef; */
    z-index: 1000;
  }

  .sticky .main-nav {
    margin-top: 10px;
  }

  .sticky .main-nav li a:link,
  .sticky .main-nav li a:visited {
    padding: 10px 0;
  }

  .sticky .main-nav li a:active,
  .sticky .main-nav li a:hover {
    color: #e67e22;
  }

  .sticky .mobile-nav-icon {
    margin-top: 10px;
  }
  .sticky .mobile-nav-icon i {
    color: #555;
  }

  .long-copy {
    width: 100%;
    margin-left: 0%;
  }

  h1 {
    font-size: 180%;
  }
  h2 {
    font-size: 150%;
  }

  footer {
    padding: 20px;
    clear: both;
  }

  footer p {
    margin-top: 10px;
  }

  .footer-nav {
    text-align: center;
  }

  .social-links {
    text-align: center;
  }

  footer p,
  .footer-nav {
    line-height: 140%;
  }

  .search-center input[type="date"] {
    margin-top: 5px;
    padding: 2px;
  }
  .notice {
    padding: 10px 0;
  }

  .btn-animated {
    margin-top: 15px;
  }

  .gallery-showcase li {
    width: 23%;
    margin-left: 3px;
    margin-bottom: 3px;
  }

  .video-wrapper iframe {
    top: 15%;
  }
  .box img {
    width: 50%;
    height: auto;
  }
  .section-chamber .absolute-img {
    top: -87px;
    left: 56%;
  }

  .chamber-feature div {
    height: 20px;
  }
  
}

/* Small phones from 481 to 600 px */
@media only screen and (max-width: 600px) {
  .main-nav {
    margin-left: 5px;
  }
  section {
    padding: 25px 0;
  }
  .contact-form {
    width: 100%;
  }
  .hero-text-box a:last-of-type {
    margin-top: 10px;
  }
  footer p,
  .footer-nav {
    line-height: 140%;
  }

  .logo {
    width: 50px;
    height: auto;
  }

  .video-wrapper iframe {
    top: 50%;
  }

  .section-chamber .absolute-img {
    top: -55px;
    left: 56%;
  }
  
}

/* Small phones from 0 to 480 px */
@media only screen and (max-width: 480px) {
  /* .item {
    flex-basis: 50%;
  } */
  .video-wrapper iframe {
    top: 60%;
  }

  .section-chamber .absolute-img {
    top: -20px;
    left: 56%;
  }

  .chamber-feature div {
    height: 40px;
  }
  
}

@media only screen and (max-width: 415px) {
  .chamber-feature div {
    height: 26px;
  }
}

@media only screen and (max-width: 280px) {
  .chamber-feature div {
    height: 38px;
  }
}




