/* ---------------------------------------------- */
/* Feature */
/* ---------------------------------------------- */
.section-features {
  & .long-copy {
    margin-bottom: 30px;
  }
  & cite {
    font-size: 50%;
    & a:link,
    & a:visited {
      text-decoration: none;
      color: #555;
      border-bottom: 1px solid transparent;
    }
    & a:hover,
    & a:active {
      text-decoration: none;
      color: #555;
      border-bottom: 1px solid #cf6d17;
    }
  }
}

/* ---------------------------------------------- */
/* Message */
/* ---------------------------------------------- */

.section-message {
  background-color: #f4f4f4;
}

.principle-img-1 {
  float: left;
  padding: 0 20px 20px 0;
}

.principle-img-2 {
  float: right;
  padding: 0 0 20px 40px;
}

figcaption {
  font-size: 80%;
}

.principle-message {
  text-align: justify;
}

.principle-message::first-letter {
  font-size: 200%;
  color: $color-orange-primary;
}

/* ---------------------------------------------- */
/* Location */
/* ---------------------------------------------- */

.section-location .box {
  padding: 0;
}

.address-feature {
  margin-bottom: 5px;
}

.map {
  width: 100%;
  height: 470px;
  /*    border: 1px solid #a0a0a0;*/
}

/* ---------------------------------------------- */
/* Gallery */
/* ---------------------------------------------- */

.section-gallery {
  padding: 0;
  & .gallery-showcase:last-child li {
    margin-bottom: 0;
  }
}

.gallery-showcase {
  list-style: none;
  width: 100%;
  & li {
    display: block;
    float: left;
    width: 24%;
    margin-left: 5px;
    margin-bottom: 5px;
  }
}

.gallery-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: $color-black;
  cursor: pointer;
  & img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
  }

  & img:hover {
    opacity: 1;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }
}

.container {
  display: flex;

  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  flex-basis: 25%;
  padding: 3px;
}
/* ---------------------------------------------- */
/* Testimonial */
/* ---------------------------------------------- */

.section-testimonials {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.8)),
      to(rgba(0, 0, 0, 0.8))
    ),
    url(img/gt-background.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(img/gt-background.jpg);
  background-size: cover;
  color: $color-white;
  background-attachment: fixed;

  & cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;

    & img {
      height: 45px;
      border-radius: 50%;
      margin-right: 10px;
      vertical-align: middle;
    }
  }
}

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px;

  &:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -3px;
  }
}

/* ---------------------------------------------- */
/* Plans */
/* ---------------------------------------------- */

.section-plan {
  background-color: #f4f4f4;
}

.plan-box {
  background-color: $color-white;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
  -webkit-box-shadow: 0 2px 2px #efefef;
  box-shadow: 0 2px 2px #efefef;
  & div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
    &:last-child {
      text-align: center;
      border: 0;
    }
    &:nth-child(2) {
      font-size: 75%;
      line-height: 140%;
    }
  }

  & ul {
    list-style: none;

    & li {
      padding: 5px 0;
    }
  }
}

.plan-price {
  &-admission {
    font-size: 80%;
    margin-bottom: 10px;
    color: $color-orange-primary;
  }
  &-monthly {
    font-size: 80%;
    color: $color-orange-primary;
  }
}

/* ---------------------------------------------- */
/* Footer */
/* ---------------------------------------------- */

footer {
  background-color: #333;
  padding: 50px;
  font-size: 80%;
}

.footer-nav {
  list-style: none;
  /*    float: left;*/
  text-align: left;

  & li {
    display: inline-block;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
    & a:link,
    & a:visited {
      color: #888;
      text-decoration: none;
      border: 0;
      -webkit-transition: color 0.2s;
      transition: color 0.2s;
    }
    & a:hover {
      color: #ddd;
      cursor: pointer;
    }
  }
}

.social-links {
  list-style: none;
  /*    float: right;*/
  text-align: right;

  & li {
    display: inline-block;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
    & a:link,
    & a:visited {
      color: #888;
      text-decoration: none;
      border: 0;
      -webkit-transition: color 0.2s;
      transition: color 0.2s;
    }
    & a:hover {
      color: #ddd;
      cursor: pointer;
    }
    & a:link,
    & a:visited {
      font-size: 170%;
    }
  }
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-youtube,
.ion-social-instagram {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.ion-social-facebook:hover {
  color: #3b5998;
}

.ion-social-twitter:hover {
  color: #55acee;
}

.ion-social-youtube:hover {
  color: #ff0000;
}

.ion-social-instagram:hover {
  color: #e95950;
}

footer p {
  color: #888;
  text-align: center;
  margin-top: 30px;
  word-spacing: 2px;
}

/* ---------------------------------------------- */
/* Opinion Form */
/* ---------------------------------------------- */

.section-book {
  background-image: linear-gradient(
    to right bottom,
    $color-orange-primary,
    $color-orange-secondary
  );
}

.book {
  background-image: linear-gradient(105deg, transparent 50%, #fff 50%, #fff 0%),
    url(../../resources/img/gallery-9.jpg);
  background-size: 120%;
  background-repeat: no-repeat;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

  height: 50rem;
}
